---
title: Installing and Configuring ObjectScale Service Broker for VMware Tanzu
owner: Partners
---

This topic describes how to install and configure ObjectScale Service Broker for VMware Tanzu.


## <a id='install'></a> Install and Configure ObjectScale Service Broker for VMware Tanzu

The ObjectScale Service Broker installs as a single VMware Tanzu-deployed application, which makes API calls to an externally-hosted Dell ObjectScale instance.
The broker uses a combination of the ObjectScale Gateway API, ObjectStore management API and the ObjectStore S3 API.

To install the service broker, you must configure the broker application to connect to the APIs. Also, you may also customize the services and plans offered in the VMware Tanzu marketplace with additional pages in the Tile interface.

To start running the ObjectScale broker, do the following:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/ecs-cf-broker).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of ObjectScale Service Broker for VMware Tanzu. This adds the tile to your staging area.

1. Click the newly added **ObjectScale Service Broker for VMware Tanzu** tile.


## <a id='install'></a> Configure ObjectScale Service Broker for VMware Tanzu

1. Navigate to **Assign AZs and Networks** and confirm that the default Availability Zones and Network fields are correct.

1. Click **Save** if any changes have been made.

1. Navigate to **Connectivity Settings**.

1. Enter **ObjectScale ID** and **ObjectScale Gateway** values (could be found on ObjectScale Systems tab of ObjectScale UI). For **ObjectScale Gateway** use the HTTPS address of either objectscale-gateway or objectscale-gateway-internal service.

1. Enter **ObjectStore Name** and **ObjectStore ID** values, found in Object Store tab General Details section.

1. For **ObjectStore Management Endpoint**, enter the HTTPS URI of the management endpoint, provided on the ObjectStore Management Service details section of the ObjectScale UI, or retrieved with 'kubectl get ecs' command. Port value is 4443 by default.

1. For **ObjectStore S3 Endpoint**, enter the HTTPS URI of the management endpoint, provided on the ObjectStore S3 Service details section of the ObjectScale UI, or retrieved with 'kubectl get ecs' command. Port value is 4443 by default.

1. Create a new account using ObjectScale UI and add it to target object store. Use the account ID for the **Account ID** value on Connectivity settings tab of tile UI.

1. In the account, create a user granted with OSCS3FullAccess and IAMFullAccess policies. Fill the **Access Key ID** and **Secret Key** values of tile UI.

1. For **Management API user name** and **Management API password**, enter the name and password of the ObjectStore Management API user. In ECS terminology, this is a Management User (not an Object User), which should configured as System Administrator.

1. Specify whether the ECS system has a certificate installed, which is signed by an available trust authority. This may not be available for development environments, and is not the case for self-signed certificates.

1. If the installed ECS certificate is not signed by a trust authority, complete the **ECS Management Certificate** field by entering the ECS certificate.

1. (Optional) For **Broker Prefix**, enter a string used to prefix broker-created buckets and users.

1. Click **Save**.

1. Navigate to **Catalog Service 1**.

1. Review settings for catalog service and plans. These settings define the services available in the VMware Tanzu marketplace. If any changes are made, click **Save**.

1. (Optional) Navigate to **Catalog Service 2**.

1. (Optional) Enable Catalog Service 2. Review service settings and enter Default Bucket Quota value, if a Namespace type is selected. Click **Save**.

1. Review the remaining catalog services. Services 2, 3, 4 and 5 are disabled by default, but available for customization.

   <p class='note'><strong>Note:</strong> File-enabled buckets and Namespace services will not function on ECS Test Drive.</p>

1. For **Enable Global access to all Services and Plans**, navigate to **Service Access** and check the checkbox to open up access to all service plans across all orgs and spaces.

1. Click **Save**

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**.
