---
title: Release Notes for ObjectScale Service Broker for VMware Tanzu
owner: Partners
---

## <a id="ver-1-0-0"></a> v1.0.0

**Release Date:** June 23, 2022

Initial release of Service Broker: supports Dell ObjectScale 1.0 and 1.0.1
