---
title: Troubleshooting ObjectScale Service Broker for VMware Tanzu
owner: Partners
---

This document describes troubleshooting steps and common issues when running the
ObjectScale Service Broker for VMware Tanzu.


# <a id="collecting-logs"></a> Collecting Logs

The Service Broker is installed through a tile in Operations Manager, so when an
installation fails, collecting logs from Ops Manager is helpful. To do this,
navigate to the Ops Manager Installation Dashboard and select **Change Log**.
Find the entry for the ObjectScale VMware Tanzu Service Broker and click
**Logs**. The logs will be displayed for the following BOSH errands:

* Installing ObjectScale Service Broker
* Running errand deploy-all for ObjectScale Service Broker

If you encounter errors during run time, or more detailed logs are required,
you can also collect logs from the deployed application. To find these
logs, navigate to the VMware Tanzu Apps Manager tile.
Find the organization and space for the broker, which is typically
`objectscale-service-broker-org` and `objectscale-service-broker-space`.
From there, you can view detailed application logs.


## <a id="general-steps"></a> General Troubleshooting Steps

For the most part, issues with the broker are a result of incorrect configuration.
Here are some general things to check, which commonly resolve issues:

1. Make sure you have HTTPS connectivity to all required endpoints:
to the ObjectScale gateway service on port 443 (or external-gateway service on port 4443),
to the management API, which typically runs on port `4443`, and ECS S3 service, which will run on port `443`.
You can find endpoint addresses in ObjectScale administrator UI.
To test access to these ports, use the CURL command from a Linux or Mac OS host:
<pre class='terminal'>
$ curl -v -k https://<OBJECTSCALE_GATEWAY>:443

$ curl -v -k https://<OBJECTSTORE_MANAGEMENT_API>:4443

$ curl -v -k https://<OBJECTSTORE_S3_ENDPOINT>:443
</pre>
You might see a "Not Found" or an "Unauthorized" error. This is not a problem, since connectivity has been established.

1. Make sure you have Management User credentials configured for the **ECS Admin Username**.
ObjectStore is using the same user model as ECS and has support for two types of users: object users and management.
The broker requires a management user to be configured with SYSTEM_ADMIN role.

To test authentication, run the following request:
<pre class='terminal'>
$ curl -ik -u <username>:<password> https://<OBJECTSCALE_GATEWAY>/mgmt/login
</pre>

Response should contain a X-SDS-AUTH-TOKEN header with a JWT token. If you decode the token contents, there must be
a os_rol field in payload data, and a SYSTEM_ADMIN role must be present in the list.

1. Make sure that the SSL certificate is configured properly.
A production installation will typically have a signed certificate
installed, which does not require any special confguration. If this is the case,
ensure that the tile prompt, _"Is the SSL certificate is signed by a trust
authority?"_ is marked as **true**.
If using a self-signed certificate, you must import that cert into the tile
configuration. You can read the certificate from the host using the `openssl` command
from a Linux or Mac OS:
<pre class='terminal'>
$ openssl s_client -showcerts -connect <OBJECTSCALE_GATEWAY>:4443 < /dev/null | \
  openssl x509 -text | sed -n -e '/BEGIN\ CERTIFICATE/,/END\ CERTIFICATE/ p'
</pre>


## <a id="common-issues"></a> Common Issues

Below is a list of error messages and their resolutions.

### Access is denied

You may see an error matching the following in the broker stack trace:

<pre class='terminal'>
Error: Unauthorized (401): Access is denied due to invalid or expired credentials
</pre>

This is likely an error with the management username or password.

### Unable to render template for job 'deploy-service-broker'

You may see an error in the BOSH logs that match the following:

<pre class='terminal'>
Error filling in template 'application.yml.erb' (line 38: undefined method 'plan_guid' for nil:NilClass)
</pre>

If this error appears, check the **Catalog Service** pages of the ECS Broker tile,
and ensure that at least one service is selected for `repository service`
and one of that service plans is selected for `repository plan`.

These enable the broker to create an internal bucket to use for its own metadata.
